/* intro {
    background-color: lightseagreen;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.row {
    width: 100vw;
    /* display: flex; */
}

#home {
    height: calc(100vh - 59px);
}

#intro-div {
    background-color: lightseagreen;
    color: white;
}

.home-comp {
    position: relative;
}

.home-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 70%;
}

button {
    margin-right: 1em !important;
    margin-bottom: 1em !important;
}