html, body {
    height: 100%;
}

.App {
    display: flex;
    flex-flow: column;
}

#intro-row {
    flex-grow: 1;
}

#nav-title {
    padding-top: 2em;
    padding-left: 7.5%;
    background-color: lightseagreen;
}

#nav-menu {
    padding-top: 2em;
    padding-right: 7.5%;
    text-align: right;
}

.nav-link {
    padding: 0 1rem !important;
}